
<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
  <input type="text"placeholder="search city"
  [(ngModel)]="cityname">
</form></div>


<div class="countainer"*ngIf="weatherData">
  <div class="upper-data">
    <img src="../assets/sun.jpg" *ngIf="weatherData.main.temp >15">
    <img src="../assets/cold.jpg" *ngIf="weatherData.main.temp <=15">

     <div class="weather-data">
      <div class="location">{{weatherData.name}}</div>
      <div class="temperature">{{weatherData.main.temp}}°C</div>
     </div>
  
  </div>

  <div class="lower-data">
    <div class="more-info">
      More information
    </div>
    <div class="info-container">
     <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/2322701.png" alt="">
        <span>min</span>
      </div>
      <div class="info-block-value">
        {{weatherData.main.temp_min}}°C 

      </div>
      
    </div> 
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/1684375.png" alt="">
        <span>max</span>
      </div>
      <div class="info-block-value">
        {{weatherData.main.temp_max}}°C 

      </div>
      
    </div> 
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/3579552.png" alt="">
        <span>wind</span>
      </div>
      <div class="info-block-value">
        {{weatherData.main.humidity}}km

      </div>
      
    </div> 
    <div class="info-block">
      <div class="info-block-label">
        <img src="../assets/4005754.png" alt="">
        <span>HUMIDITY</span>
      </div>
      <div class="info-block-value">
        {{weatherData.main.humidity}}% 

      </div>
      
    </div> 
    
    
     
    </div>
  </div>
    
</div>

<router-outlet></router-outlet>
   


